body
{
	
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;

}

#contenido
{
	background-color: red;
	margin: 0 auto;
    height: 300px;
    width: 80%;
}

nav ul li
{
	margin-left: 20px;
	float:left;
}